// @import "materialize/components/color";
// $primary-color: color("blue", "lighten-2") !default;
// $secondary-color: color("yellow", "base") !default;
// @import 'materialize';
//
// @import "materialize/extras/nouislider";
// @import "https://fonts.googleapis.com/icon?family=Material+Icons";
//

// style categories index and show page

.banner_image {
  width: 350px;
  height: 200px;
}

// categories style
.categories {
  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .category_image {
    width: 100px;
  }

  .category_title {
    width: 60%;
  }

  dl {
    margin: 0;
  }

  dt {
    color: #244;
    font-weight: bold;
    font-size: larger;
  }

  dd {
    margin: 0;
  }

  .list_actions {
    font-size: x-small;
    text-align: right;
    padding-left: 1em;
  }

  .category_line_even {
    background: #e0f8f8;
  }

  .category_line_odd {
    background: #f3fafe;
  }
}

// items styling

.items, .carts {
  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .item_image {
    width: 100px;
  }

  .category_title {
    width: 60%;
  }

  dl {
    margin: 0;
  }

  dt {
    color: #244;
    font-weight: bold;
    font-size: larger;
  }

  dd {
    margin: 0;
  }

  .list_actions {
    font-size: x-small;
    text-align: right;
    padding-left: 1em;
  }

  .category_line_even {
    background: #e0f8f8;
  }

  .category_line_odd {
    background: #f3fafe;
  }
}

.total_cost {
  color: #244

}



// style sidebar/nav

body, body > p, body > ol, body > ul, body > td {margin: 8px !important}

#banner {
  position: relative;
  min-height: 40px;
  background: white;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: black;
  text-align: center;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 62px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#notice:empty {
  display: none
}

#columns {
  background: transparent;
  display: flex;

  #main {
    padding: 1em;
    background: white;
    flex: 1;
  }

  #side {
    padding: 1em 2em;
    background: black;
    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: white;
          text-decoration: none;
          font-size: small;
        }
      }
    }
  }
}

@media all and (max-width: 800px) {
  #columns {
    flex-direction: column-reverse
  }
}

@media all and (max-width: 500px) {
  #banner {
    height: 1em;
  }

  #banner .title {
    display: none;
  }
}
body {
  background-color: black;
  background: url("https://i.imgur.com/x9jSzHb.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



// orders show page style
.items {
  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .item_image {
    width: 100px;
  }

  .item_title {
    width: 60%;
  }

  .item_count {
    width: 20%;
  }

  dl {
    margin: 0;
  }

  dt {
    color: #244;
    font-weight: bold;
    font-size: larger;
  }

  dd {
    margin: 0;
  }

  .list_actions {
    font-size: x-small;
    text-align: right;
    padding-left: 1em;
  }

}
